<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#DQO</title>
</head>
<body>
    <header>
        <div class="cabecalho">
           <h1>#Discos que Ouvi | Um Mergulho nas Obras Musicais</h1> 
        </div>
    </header>
    <main>
        <section class="grid-container">
            <article>
                <p>IMAGEM DE CAPA</p>
                <h2>NOME DO DISCO e ANO</h2>
            </article>
        </section>
    </main>
    <footer>
        <div class="rodape">
            © Copyright 2021 | #DQO - Todos os direitos reservados.
        </div>
    </footer>   
</body>
</html>