<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#DQO - <%= nomepagina %> </title>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <main>
        <div class="form">
            <form action="/home">
                <label for="usuario">Usuário</label>
                <input type="text" name=usuario id="usuario">
                <br>
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha">
                <br>
                <button type="submit">Entrar</button>
            </form>
        </div>
    </main>
</body>
</html>